node_modules/
venv/
__pycache__/
*.pyc
.env
!.env.example
recordings/*.mp4
browser-profiles/
dist/
build/
.DS_Store
dire

transcript.json


meeting-bot/zoom-no-input.png
meeting-bot/zoom-step1.png
meeting-bot/zoom-step2-no-link.png
meeting-bot/zoom-step2-no-link.png
meeting-bot/zoom-step2.png
meeting-bot/zoom-step3.png
meeting-bot/zoom-step4.png